@inherits LayoutComponentBase

<div class="title-bar" id="application-title-bar">
    <div class="controls">
        <div class="minimize" id="min-btn" @onclick="minbtnClick">_</div>
        <div class="maximise" id="max-btn">F</div>
        <div class="close" id="close-btn">X</div>
    </div>
</div>

<div class="app">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
@using Lifestream.Data;
@code{
    private void minbtnClick()
    {
        Globals.GetInstance().MainWindow.Close();
    }
}